.contact-section {
  background-image: url(../../images/pattern.jpg);
  background-repeat: repeat;

  .contact-body {
    background-color: #fff;
    margin-top: 60px;
    padding: 50px 45px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    position: relative;
    z-index: 1;
    margin-bottom: -80px;

    .contact-desc {
      margin-bottom: 30px;
    }

    h3 {
      font-size: 30px;
      margin: 0 0 10px;
      span {
        color: #ccc;
      }
    }
    .contact-details {
      margin-bottom: 50px;
      h4 {
        margin: 0;
      }
    }

    @media (max-width: 767px) {
      & {
        grid-template-columns: 100%;
        margin-bottom: 70px;
      }
    }
  }
  .map {
    position: relative;
    z-index: 0;
  }
}
