.events-section {
  background-image: url(../../images/pattern.jpg);
  background-repeat: repeat;
  padding-bottom: 60px;
  .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));

    .info {
      background-color: #fff;
      padding-top: 60px;
      h3 {
        max-width: 200px;
        margin: 0 auto 30px;
        padding-bottom: 30px;
        font-size: 18px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 40%;
          border-bottom: 1px dashed #ccc;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      p {
        font-size: 12px;
        margin: 0 0 1px;
      }
    }
    @media (max-width: 767px) {
      & {
        grid-template-columns: 1fr;
        .info {
          margin-bottom: 25px;
          padding-bottom: 20px;
        }
      }
    }
    @media (min-width: 768px) {
      & {
        min-width: 800px;
      }
    }
  }
}
