.menu-section {
  background: url(../../images/pattern.jpg) repeat;
  padding-bottom: 30px;
  text-align: center;
  position: relative;

  .slider {
    overflow: hidden;
    padding: 0 20px;

    .cards {
      display: flex;

      gap: 50px;
      overflow: hidden;
      .card {
        background-color: #fff;
        padding: 20px;
        .card-img {
          margin: 0 auto 60px;
          width: 280px;
          position: relative;
          .card-price {
            position: absolute;
            background-color: #fff;
            font-size: 35px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            line-height: 80px;
            left: 100px;
            bottom: -35px;
            box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
          }
        }
      }
    }
    @media (max-width: 991px) {
      & {
        padding: 0 30px;
        .cards {
          gap: 40px;
        }
      }
    }
    @media (min-width: 768px) and(max-width:991px) {
      & {
        padding: 0 15px;
      }
    }
  }
  i {
    font-size: 35px;

    position: absolute;
    top: 60%;
    width: 17px;
    margin-top: -20px;
    cursor: pointer;
  }
  .right {
    right: 15px;
  }
  .left {
    left: 15px;
  }
}
